---
interface Props {
    index: number;
    title: string;
    colorClass?: string;
    slug: string;
}

const { index, title, colorClass, slug } = Astro.props;
---

<a href=`/projects/${slug}`>
    <div
        class="bg-slate-100 text-black
    shadow-lg rounded-md
    px-3 py-2
    flex justify-between
    transition-all
    hover:translate-x-1 hover:translate-y-1 hover:shadow-sm"
    >
        <!-- Left side -->
        <div class="flex items-center gap-5">
            <div
                class:list={[
                    "mask mask-circle flex items-center justify-center p-3",
                    colorClass,
                ]}
            >
                <span
                    class="text-white font-bold text-3xl text-center"
                    transition:name={title}
                >
                    {index}
                </span>
            </div>
            <span class="font-medium text-xl">{title}</span>
        </div>

        <!-- Right side -->
        <div class="flex items-center">
            <span class="text-4xl">&gt;</span>
        </div>
    </div>
</a>
