---
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/Navbar.astro";

const base = import.meta.env.BASE_URL;

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Josué Bouchard's HUM-1020H portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href=`${base}/favicon.svg` />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-slate-100 min-h-screen">
    <Navbar />
    <slot />
  </body>
</html>
